.course-info {
    background: $white;
    padding: 15px 15px 15px 0;

    .container {
        max-width: 100%;
        padding: 40px 0 0;
    }

    header.course-profile .intro-inner-wrapper {
        border-color: #ccc;

        .intro {
            word-break: break-word;

            @include media-breakpoint-down(sm) {
                width: auto;
                order: 2;
            }

            .main-cta {
                > a.find-courses,
                a.register,
                a.add-to-cart,
                strong {
                    color: $white;
                    padding: 10px 15px 10px;
                    text-shadow: none;

                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }
                }

                span.register,
                span.add-to-cart {
                    padding: 10px 15px 10px;
                    line-height: 1.6rem;
                    margin-top: 0;

                    @include media-breakpoint-down(md) {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
            }

            > .heading-group span {
                display: inline-block;
                background: $base-color;
                color: $white;
                text-shadow: none;
                font-size: 16px;
                line-height: normal;
                vertical-align: top;
                padding: 4px 15px;
                margin: 5px 0 0 5px;
                border-radius: 5px;
            }
        }

        > div.table {
            @include media-breakpoint-down(sm) {
                display: flex;
                flex-direction: column;
            }
        }

        .media {
            @include media-breakpoint-down(sm) {
                width: auto;
                order: 1;
            }

            .hero {
                border: none;

                img {
                    box-sizing: border-box;
                    display: block;
                    max-width: 100%;
                    max-height: 300px;
                    width: auto;
                    margin: auto;
                    border: 1px solid #646464;
                }
            }
        }
    }

    .details {
        word-break: break-word;

        .teacher-image {
            .rtl & {
                margin: 0 0 0 15px !important;
            }
        }

        .inner-wrapper {
            & > section:last-child {
                margin-bottom: 0;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                line-height: 1.2;
                margin: .83em 0;
                font-weight: 700;
                color: inherit;

                &:first-child {
                    margin-top: 0;
                }
            }

            h1 {
                font-size: 2em;
                text-align: left;
            }

            h2 {
                font-size: 1.5em;
            }

            h3 {
                font-size: 1.17em;
            }

            h4 {
                font-size: 1em;
            }

            h5 {
                font-size: .83em;
            }

            h6 {
                font-size: .67em;
            }

            img,
            iframe {
                max-width: 100%;
            }

            img {
                height: auto;
            }
        }
    }

    .course-sidebar {
        word-break: break-word;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }

        .important-dates li {
            .pre-requisite a {
                box-sizing: border-box;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .icon {
                margin-top: 0;
            }
        }
    }
}

.video-modal {
    &.modal,
    &.leanModal_box,
    &.entitlement-unenrollment-modal {
        @include media-breakpoint-down(sm) {
            max-width: 90%;
            transform: translateX(-50%);
            margin: 0 !important;
        }

        .inner-wrapper,
        iframe {
            box-sizing: border-box;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
        }
    }
}

.contact-us-wrapper {
    .row {
        @include media-breakpoint-up(md) {
            max-width: 100%;
        }
    }

    .help-button {
        white-space: normal;
        height: auto;

        &:hover {
            color: $link-color;
        }
    }

    .btn-primary {
        border-color: $base-color;
    }
}
