.discussion section.discussion,
.xblock .discussion-module,
.teams-content .discussion-module {
    .btn-link.all-topics {
        transition: all .2s ease;
        background: $base-color;
        color: $white;
        border: none;
        text-transform: uppercase;
        border-radius: 0;
        padding: 12px 20px;
        line-height: 1.3;

        &:active,
        &:focus {
            background: $base-color;
        }

        &:hover {
            background: $m-blue-l1;
            text-decoration: none;
        }

        @include media-breakpoint-down(xs) {
            margin-bottom: 20px;
            width: 100%;
        }
    }

    .page-header {
        align-items: center;

        .has-breadcrumbs .breadcrumbs {
            margin-bottom: 5px;
            width: 100%;
        }

        .page-header-secondary {
            @include media-breakpoint-up(md) {
                margin-left: 0;
            }

            @include media-breakpoint-down(xs) {
                display: block;
                width: 100%;
            }

            .forum-actions,
            .forum-search {
                margin-bottom: 5px;
            }
        }
    }

    .page-content {
        padding: 20px;
    }

    .discussion-body:after {
        display: none;
    }

    .btn-primary,
    .btn-outline-primary {
        &:focus {
            box-shadow: 0 0 0 2px rgba($base-color, .5);
        }
    }

    .search-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .search-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        z-index: 2;
        background: $white;

        &:hover {
            background: $base-color;
        }
    }

    .page-header-main {
        margin-bottom: 5px;

        @include media-breakpoint-up(md) {
            margin-right: 20px;
        }
    }

    .forum-nav-browse-menu {
        position: relative;
    }

    .actions-item {
        .action-list-item {
            border: none;
        }

        .action-button {
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }

        .action-label {
            line-height: 1.7;
            padding: 0 8px;
        }
    }

    .alert.alert-error {
        color: #5d0308;
        background-color: #f0cdcf;
        border-color: #e9b9bc;

        .alert-copy:last-child {
            margin-bottom: 0;
        }
    }

    .new-post-btn {
        @include media-breakpoint-down(xs) {
            display: block;
            width: 100%;
        }

        &.btn-link {
            border-color: $base-color;
            padding: 7px 18px;
            border-radius: 3px;
            transition: all .2s ease;

            &:focus {
                border: 1px solid $m-blue-l1;
                color: $m-blue-l1;
                text-decoration: none !important;
            }

            &:hover {
                color: $white;
                background: $m-blue-l1 !important;
                border-color: $m-blue-l1;
                text-decoration: none !important;
            }
        }
    }

    .forum-nav-filter-main,
    .forum-nav-filter-cohort,
    .forum-nav-sort {
        select {
            border: 1px solid #a6a6a6;
        }
    }

    .forum-nav-refine-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &:after {
            display: none;
        }

        .forum-nav-filter-main,
        .forum-nav-filter-cohort,
        .forum-nav-sort {
            width: auto;
            float: none;
            text-align: left;
            margin: 3px 0;

            &:last-child {
                @media (max-width: 767px) and (min-width: 470px) {
                    text-align: right;
                }

                @media (max-width: 470px) {
                    margin-bottom: 0;
                }
            }

            @media (max-width: 767px) and (min-width: 470px) {
                width: 49%;
                margin-bottom: 0;
            }

            @media (max-width: 470px) {
                width: 100%;
                float: none;
                text-align: left;
                margin-bottom: 5px;
            }

            select {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .discussion-column {
        .is-hidden {
            display: none;
        }

        .all-posts-btn {
            padding: .625rem .625rem;
            line-height: 1.25;
            border: 1px solid $base-color;
            border-radius: 3px;
            transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

            &:hover {
                border: 1px solid $base-color;
                color: $white;
                background: $base-color;
                text-decoration: none;
            }

            &:focus {
                border: 1px solid $base-color;
            }

            .fa-chevron-prev:before {
                content: "\f053";
                color: inherit;
            }
        }
    }

    .view-discussion-home {
        display: block;
        padding-left: 0;
        word-break: break-word;

        @include media-breakpoint-down(md) {
            .home-helpgrid,
            tbody,
            tr,
            th,
            td {
                display: block;
                width: 100%;
            }

            .helpgrid-row {
                .row-title,
                .row-item,
                .row-item-full {
                    width: 100%;
                    padding: 10px 15px;
                }
            }
        }
    }

    .edit-post-body,
    .edit-comment-body {
        width: 100%;
    }

    .forum-nav-thread-wrapper-1 {
        @include only-for-IE {
            max-width: 100%;
        }
    }

    .forum-nav-thread-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .search-alert {
        display: flex;
        align-items: flex-start;
        padding: 5px;
        justify-content: flex-start;

        .search-alert-controls,
        .search-alert-content {
            display: inline-block;
        }

        .search-alert-controls {
            .btn-link {
                font-size: 12px;
                border-radius: 3px;
                border-color: inherit;
                padding: 0 2px;
                transition: all .15s linear;
                margin-left: 5px;
                vertical-align: top;

                &:hover {
                    color: $white;
                    background: $base-color !important;
                    border-color: $base-color;
                }
            }
        }

        .message {
            font-size: 12px;
            margin: 0;
        }
    }

    .add_post_btn_container {
        margin-bottom: 10px;
    }

    .discussion {
        @media screen and (max-width: 480px) {
            padding-top: 10px;
        }
    }

    .discussion-show {
        transition: all .2s ease;

        @media screen and (max-width: 760px) {
            margin-bottom: 10px;
        }
    }

    .discussion-module-header {
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }

    .response-header-content {
        width: 100%;
        padding-right: 30px;
    }

    .discussion-comment {
        word-break: break-word;
        padding-right: 30px;
    }
}

.forum-nav-browse-filter {
    .forum-nav-browse-filter-input {
        font-size: 14px !important;
        line-height: 17px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 3px;
    }

    .icon.fa {
        margin-top: -9px;
    }
}

.wmd-prompt-background {
    min-height: 100vh;
    position: fixed !important;
}

.wmd-prompt-dialog {
    left: 50% !important;
    top: 50% !important;
    bottom: auto !important;
    right: auto !important;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    overflow: auto;

    .input-text {
        width: calc(100% - 190px);
        vertical-align: middle;
    }
}

.wmd-preview,
.discussion-post,
.comments {
    word-break: break-word;
}

.forum-nav-browse-menu-wrapper,
.discussion-thread-list-container {
    border: 1px solid #d9d9d9;
    box-shadow: 0 1px 3px rgba($black, .15);
    border-radius: 4px;
}

.wmd-panel {
    .wmd-button-row {
        @include media-breakpoint-down(sm) {
            height: auto;
        }
    }

    .wmd-button,
    .wmd-spacer {
        @include media-breakpoint-down(sm) {
            position: static;
        }
    }
}

.discussion section.discussion .forum-nav {
    .forum-nav-filter-main,
    .forum-nav-filter-cohort,
    .forum-nav-sort {
        @media (min-width: 768px) {
            width: 100%;
        }
    }
}

.xblock .discussion-module .forum-nav-refine-bar {
    .forum-nav-filter-main,
    .forum-nav-filter-cohort,
    .forum-nav-sort {
        @media (min-width: 768px) {
            width: 32%;
        }
    }
}

section.page-content-container {
    background: $white;
}
