footer.wrapper-footer {
    width: 100%;
    background: $footer-bg;
    padding: 50px 20px;
    box-sizing: border-box;

    .holder {
        @extend %container;
    }

    .footer-nav-list {
        display: flex;
        align-items: center;
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        justify-content: center;

        @include media-breakpoint-down(xs) {
            flex-wrap: wrap;
        }

        .footer-nav-item {
            margin: 0 8px;
            text-align: center;

            @include media-breakpoint-down(xs) {
                width: 100%;
                margin-bottom: 10px;
            }
        }

        .footer-nav-link {
            font-size: 16px;
            line-height: 1.3;
            color: $footer-nav-link-color !important;

            &:visited,
            &:active,
            &:focus {
                color: $footer-nav-link-color !important;
            }

            &:hover {
                border-bottom: none;
                text-decoration: none;
                color: $footer-nav-link-color-hover !important;
            }
        }
    }

    .footer-holder {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        min-height: 40px;

        @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
        }
    }

    .footer-logo {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0 0 15px;

        &:hover {
            opacity: .8;
        }

        @include media-breakpoint-up(lg) {
            margin: 0;
            width: auto;
            position: absolute;
            right: 20px;
            top: 0;
            transform: translateY(calc(-50% + 20px));
        }

        @include media-breakpoint-up(xl) {
            right: 0;
        }

        img {
            height: $footer-logo-height;
        }
    }

    .footer-support {
        font-size: 12px;
        line-height: 1.2px;
        color: $footer-support-text-and-logo;
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(lg) {
            width: auto;
            position: absolute;
            left: 20px;
            top: 0;
            transform: translateY(calc(-50% + 20px));
        }

        @include media-breakpoint-up(xl) {
            left: 0;
        }

        svg {
            fill: $footer-support-text-and-logo;

            &:hover {
                opacity: .8;
            }
        }

        .svg-edx {
            width: 58px;
            height: 36px;
        }

        .svg-raccoon {
            width: 20px;
            height: 20px;
            margin-left: 5px;
        }
    }

    .footer-social-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto 15px;
        padding: 0;
        list-style: none;

        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }

        .footer-social-item {
            margin: 0 4px;

            @include media-breakpoint-down(md) {
                margin-bottom: 5px;
            }
        }

        .footer-social-icon {
            width: 35px;
            height: 35px;
            fill: $footer-social-link-bg;

            &:hover,
            &:focus,
            &:active {
                fill: $footer-social-link-bg-hover;
            }
        }
    }
}
