select:not(.forum-nav-filter-main-control):not(.forum-nav-sort-control):not(.forum-nav-filter-cohort-control),
.forum-new-post-form .post-field .field-label .field-input select.post-topic {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid $gray !important;
    height: 32px;
    font-size: 15px;
    box-sizing: border-box;
    color: #222;
    background: $white url("#{$static-path}/images/select-arrow.png") no-repeat 100% 50% !important;
    background-size: 27px 7px !important;
    padding: 0 30px 0 10px !important;
    max-width: 100%;

    &:focus {
        box-shadow: 0 0 6px 0 darken($button-archive-color, 50%), inset 0 0 4px 0 rgba($black, .15);
    }

    &.error,
    .form-group.has-error & {
        border-color: $red !important;

        &:focus {
            box-shadow: inset 0 1px 1px rgba($red, .075);
        }
    }

    .problem & {
        font-size: 16px;
        padding: 10px 30px 10px 10px !important;
        height: auto;
        border: 2px solid #e4e4e4 !important;
        border-radius: 3px;

        .rtl & {
            padding: 10px 10px 10px 30px !important;
        }
    }

    &::-ms-expand {
        display: none;
    }

    .rtl & {
        background-position: 0 50% !important;
        padding: 0 10px 0 30px !important;
    }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    max-width: 100%;

    &:hover {
        cursor: pointer;
    }
}

input {
    max-width: 100%;
}

.btn-link:not(.disabled) {
    &:hover,
    &:focus {
        text-shadow: none;
        border-color: transparent;
        color: $link-hover;
    }
}
