body.view-wiki {
    &.lang_ar {
        .course-tabs {
            text-align: right;
        }

        .wiki-wrapper section.wiki {
            text-align: start;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            label {
                text-align: start;
            }

            .nav-tabs a .icon,
            .breadcrumb li a .icon {
                float: right;
            }

            .CodeMirror-scroll {
                margin-left: -30px;
                margin-right: 0;
            }
        }
    }

    .wiki-wrapper {
        box-sizing: border-box;

        section.wiki {
            .btn {
                padding: 7px 18px !important;

                &:not(.btn-primary):not(.btn-danger):not(.paragon__btn):focus {
                    color: $base-color;
                }
            }

            .paragon__alert-warning {
                border-bottom: 1px solid #c8c8c8;
                word-break: break-word;
            }

            .paragon__alert-dismissible .paragon__close {
                background: none;
                padding: 8px 15px;

                &:not(:disabled):not(.paragon__disabled) {
                    &:focus,
                    &:active {
                        box-shadow: none;
                        border: none;
                    }

                    &:hover {
                        color: $black;
                        opacity: .7;
                        box-shadow: none;
                    }
                }
            }

            .breadcrumbs-header {
                background: $white;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                height: auto;

                @include only-for-IE {
                    @include clearfix();

                    display: block;
                }
            }

            .main-article {
                padding: 20px;
                word-break: break-word;

                @include media-breakpoint-down(sm) {
                    width: 100%;
                }

                .lead {
                    margin-bottom: 15px;
                }
            }

            .article-functions {
                padding: 20px;

                @include media-breakpoint-down(sm) {
                    width: 100%;
                }

                @include media-breakpoint-down(sm) {
                    padding: 20px 20px 10px;
                }
            }

            #hint_id_content {
                @include media-breakpoint-down(sm) {
                    position: static;
                    margin-bottom: 5px;
                }
            }

            .form-actions {
                @include media-breakpoint-down(xs) {
                    display: flex;
                    flex-wrap: wrap;
                }

                .btn {
                    margin-bottom: 10px;
                }
            }

            .btn-group,
            .input-prepend {
                margin: 5px 0;
            }

            .modal {
                @extend %modal;
            }

            section.delete {
                padding: 20px;

                .page-header {
                    padding: 0 0 20px;
                    word-break: break-word;
                }
            }

            .row-fluid {
                margin-bottom: 20px;

                h2 {
                    margin: 15px 0 10px;
                    font-weight: 700;
                    color: #313131;
                }
            }

            .article-wrapper {
                @include media-breakpoint-down(sm) {
                    display: flex;
                    flex-wrap: wrap;
                }

                .settings-form {
                    .page-header {
                        margin-bottom: 20px;
                        padding: 10px 0;
                    }

                    #div_id_group_read,
                    #div_id_group_write,
                    #div_id_other_read,
                    #div_id_other_write {
                        display: flex;
                        align-items: center;

                        .controls {
                            order: 1;
                            margin-right: 10px;
                            position: relative;
                            top: -1px;
                        }

                        label {
                            order: 2;
                            margin: 0;
                        }
                    }

                    #div_id_locked,
                    #div_id_recursive {
                        .controls {
                            display: flex;
                            align-items: center;

                            input {
                                margin-right: 10px;
                            }
                        }

                        label {
                            display: block;
                        }
                    }

                    #id_owner_username {
                        margin-bottom: 10px;

                        @include media-breakpoint-down(sm) {
                            width: 100%;
                        }
                    }
                }

                .wiki-article p {
                    line-height: 20px;
                }
            }

            .CodeMirror-scroll {
                max-width: 100%;
                box-sizing: border-box;
            }

            #cheatsheetModal {
                .left-column,
                .right-column {
                    width: 49%;

                    @include media-breakpoint-down(sm) {
                        width: 100%;
                    }
                }
            }
        }
    }
}
