<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers
from openedx.core.djangolib.markup import HTML, Text
%>

<%def name="html_data()"><%
data = {
  "footerIcons": {
    "facebook": {
      "href": "https://www.facebook.com/pages/Combined-Knowledge-Ltd/130405933644168",
      "src": "ico-facebook"
    },
    "twitter": {
      "href": "https://twitter.com/ckukltd",
      "src": "ico-twitter"
    },
    "youtube": {
      "href": "http://www.youtube.com/user/combinedknowledge",
      "src": "ico-youtube"
    },
    "linkedin": {
        "href": "http://www.linkedin.com/company/113488?trk=tyah&trkInfo=tarId%3A1400000150305%2Ctas%3ACombined%20K%2Cidx%3A1-1-1",
        "src": "ico-linkedin"
    },
  },
  "footerLinks": {
    "about": {
      "url": "https://www.combined-knowledge.com/about-us/",
      "text": Text(_('About')),
      "target_blank": True
    },
    "privacy": {
      "url": "https://www.combined-knowledge.com/privacy/",
      "text": Text(_('Privacy Policy')),
      "target_blank": True
    },
    "terms": {
      "url": "https://www.combined-knowledge.com/terms-and-conditions/",
      "text": Text(_('Terms and Conditions')),
      "target_blank": True
    },
  },
  "banner": {
    "title": Text(_("Training + Academy")),
    "description": Text(_("Your productivity portal"))
  },
  "site_variable": settings.FEATURES.get('BASE_JUNIPER_SITE_THEME', settings.DEFAULT_SITE_THEME),
  "header_logo": "logo.png",
  "footer_logo": "footer-logo.png",
  "certificate_logo": "logo.png"
}
return data
%></%def>
